body {
    background-color:#000
}

.console-page {
    height:95%;
    
}

.console-canvas {
    border: solid 1px #00ff08;
    background: #000;
    width: 600px;
    margin: 20px auto 5px auto; 
    padding: 4px;
    overflow-y: scroll; 
    height: 100%;
    
}

#command-line, #command-line:focus {
    /* width: 565px; */
    color: #00ff08;
    background-color: #000;
    border: none;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    rows:1;
    resize: none;
}

#command-line:focus {
    border: none;
    outline: none;
}

h1 {
    font-size: 1.5em;
}

.console-font {
    color: lime;
    background-color: #000;
    font-family: 'Courier New', Courier, monospace;
    font-size:10pt;
}

@media (max-width: 700px) {
    .console-font {
        font-size: 14pt;
    }
    h1 {
        font-size: 1.3em;
    }
    #command-line, #command-line:focus {
        width:inherit;
    }
    .console-canvas {
        width: 90%
    }
}

/* mySidebar {
    color:rgb(9, 46, 6);
    background-color: #ddfddd;
    font-family: 'Times New Roman', Times, serif;
} */

/* .command-line-red {
    color: #940000 !important
} */

