body {
    background-color:#000000
}

.console-page {
    height:95%;
    
}

.console-canvas {
    border: solid 1px #00ff9f;
    background: #000000;
    width: 600px;
    margin: 20px auto 5px auto; 
    padding: 4px;
    overflow-y: scroll; 
    height: 100%;
}

#command-line, #command-line:focus {
    width: 565px;
    color: #00ff9f;
    background-color: #000000;
    border: none;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    rows:1;
    resize: none;
}

#command-line:focus {
    border: none;
    outline: none;
}

h1 {
    font-size: 1.5em;
}

.console-font {
    color: #00ff9f;
    background-color: #000;
    font-family: 'Courier New', Courier, monospace;
    font-size:10pt;
}

.hint-format {
    visibility: hidden;
    color: white;
    font-family: 'Homemade Apple', cursive;
    vertical-align: top;
    font-size: 15px;
    text-align: center;
}

.calculator-canvas {
    border: solid 10px rgb(59, 59, 59);
    background: white;
    width: 450px;
    margin: 50px auto 50px auto;
    padding: 4px;
    height: 30%;
    border-radius: 25px;
    display: none;
}

.glitch {
    color:white;
    vertical-align: bottom;
    object-fit: contain;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    cursor: pointer;
}


.remnants-title {
    font-size: 30px;
    color:rgb(77, 230, 123); 
    text-shadow: 2px 2px rgb(166, 19, 211); 
    font-family: 'Neonderthaw', cursive;
    font-weight: bolder;
    text-align:center
}

.remnants-canvas {
    border: solid 2px #ffffff;
    background: #000000;
    width: 600px;
    margin: 20px auto 5px auto; 
    padding: 4px;
    overflow-y: scroll; 
    height: 100%;
}

.remnants-font {
    color: #ffffff;
    background-color: #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font: size 15px;
}

.phantom-title {
    color: #aeb8ff;
    font-size: 100px;
    font-family: 'Neonderthaw', cursive;
    font-weight: bold;
    transition: 0.5s;
    text-align: center;
    /* margin-right:196px; */
    vertical-align: top;
    text-shadow:3px 3px #000d74;
    visibility: hidden;
}
.phantom-title:hover {
    text-shadow:3px 3px 50px #001eff;
}
.phantom-info {
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    margin-top: 15px;
    text-align: left;
    color: #aeb8ff;
}

.george-title {
    color: #a7ffdd;
    font-size: 100px;
    font-family: 'Neonderthaw', cursive;
    font-weight: bold;
    text-shadow:3px 3px #005e3a;
    transition: 0.5s;
    display: inline-block;
    text-align: center;
    /* margin-left:250px;
    margin-right:250px;
    margin-top: 50px; */
    vertical-align: top;
    visibility: hidden;
    text-align: center;
}
.george-title:hover {
    text-shadow:3px 3px 50px #00ff9f;
}
.george-info {
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    margin-top: 15px;
    color: #a7ffdd;
}

.ghost-title {
    color: #f3b7ff;
    font-size: 100px;
    font-family: 'Neonderthaw', cursive;
    font-weight: bold;
    text-shadow:3px 3px #4b025a;
    transition: 0.5s;
    display: inline-block;
    text-align: center;
    /* margin-right:100px;
    margin-top: 50px; */
    vertical-align: top;
}
.ghost-title:hover {
    text-shadow:3px 3px 50px #d600ff;
}
.ghost-info {
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    margin-top: 15px;
    text-align: left;
    visibility: visible;
    color: #f3b7ff;
}

.ghost-liars {
    display: none;
}

.inventory {
    width: 696 px;
    height: 50px;
    text-align: center;
    color: white; 
    vertical-align: top;
}



@media (max-width: 700px) {
    .console-font {
        font-size: 14pt;
    }
    h1 {
        font-size: 1.3em;
    }
    #command-line, #command-line:focus {
        width:inherit;
    }
    .console-canvas {
        width: 90%
    }
}

/* mySidebar {
    color:rgb(9, 46, 6);
    background-color: #ddfddd;
    font-family: 'Times New Roman', Times, serif;
} */

/* .command-line-red {
    color: #940000 !important
} */

/* The side navigation menu */

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #00ff9f;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }



 